VITE_APPWRITER_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITER_PROJECT_ID=""
VITE_APPWRITER_DATABASE_ID=""
VITE_APPWRITER_COLLECTION_ID=""
VITE_APPWRITER_BUCKET_ID=""
VITE_APPWRITER_profilBUCKET_ID=""
VITE_APPWRITER_profilePhotoCOLLECTION_ID=""